.blocker-block {
  /* Positioning for children */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* Specify initial position and dimensions */
  position: absolute;
  top: calc(50vh - 150px);
  left: calc(50vw - 150px);
  height: 290px;
  width: 160px;

  /* Set color to inherit from container */
  /* opacity: 0.5; */

  /* Make it resizable */
  /* resize: both; */
  overflow: auto;
}

.blocker-block:hover * {
  display: block;
}

.blocker-block:hover {
  /* outline: 1px solid black; */
}

.invisible {
  display: none;
}

.blockContainer {
  /* Position */
  top: 0;
  position: fixed;
  z-index: 1000000000;

  /* Inherit background color so blocks can also inherit */
  opacity: 0;
}

button {
  display: none;
  border: 2px solid black;

}

.textArea {
  width: 150px;
  height: 150px;
  background-color: rgb(254, 255, 203);
  resize: none;
  box-shadow: 2px 2px 5px gray;
}